@import "styles/settings/__settings";

.container {
  background-color: none;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-size: 7em;
    font-weight: 500;
    margin: 0 0 50px 0;
    color: $purple;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  & button {
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: none;
    width: 100%;
    display: flex;
  }
}

.accordionRoot {
  width: 100%;
}

.accordionItem {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0 1% 1% 1%;
  border-top: 2px solid $purple;
  transition: all 200ms linear;

  & h3 {
    color: $purple;
    text-align: left;
  }
}

.accordionItem[data-state="open"] {
  background-color: $lightGray;
}

.accordionContent {
  overflow: hidden;
}

.accordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.accordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.svg {
  display: flex;
}

.vert {
  transform: rotate(90deg);
  transition: all 200ms linear;
  transform-box: fill-box;
  transform-origin: center;
  position: absolute;
}

.accordionItem[data-state="open"] .vert {
  transform: rotate(180deg);
}
