@import "styles/settings/__settings";

.button {
  color: $cream;
  font-family: inherit;
  font-size: 20px;
  background-color: transparent;
  padding: 0.8em 1.4em 1em;
  min-width: 200px;
  border-radius: $border-radius-small;
  border: 1px solid;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.button:hover {
  color: $purple;
  background: $cream;
}
