@import "styles/settings/__settings";

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.posts {
  list-style: none;
  padding-left: 0;
  margin: -1rem 0;

  & > li {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.scrollDown {
  position: absolute;
  right: 20%;
  bottom: 0;
  padding: 16px 16px 0;

  & > p {
    writing-mode: tb-rl;
    color: $cream;
    margin: 0;
    transform: translateX(-50%) rotate(180deg);
    line-height: 1;
    position: absolute;
    bottom: 100%;
  }

  & > div {
    width: 3px;
    height: 100px;
    background-color: $cream;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: 200ms ease-in-out;
  }

  &:hover {
    & > div {
      height: 116px;
    }
  }
}

.scrollDownRest {
  bottom: auto;
  top: 0;
  padding-top: 0;

  & > div {
    background-color: $purple;
    height: 170px !important;
  }
}
