@import "styles/settings/__settings";

// BEGIN HERO STYLES
.heroText {
  font-weight: 500;
  margin-bottom: 70px;
  max-width: 1420px;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.posts {
  list-style: none;
  padding-left: 0;
  margin: -1rem 0;

  & > li {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.scrollDown {
  position: absolute;
  right: 20%;
  bottom: 0;
  padding: 16px 16px 0;

  & > p {
    writing-mode: tb-rl;
    color: $cream;
    margin: 0;
    transform: translateX(-50%) rotate(180deg);
    line-height: 1;
    position: absolute;
    bottom: 100%;
  }

  & > div {
    width: 3px;
    height: 100px;
    background-color: $cream;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: 200ms ease-in-out;
  }

  &:hover {
    & > div {
      height: 116px;
    }
  }
}

.scrollDownRest {
  bottom: auto;
  top: 0;
  padding-top: 0;

  & > div {
    background-color: $purple;
    height: 170px !important;
  }
}
// END HERO STYLES

.sectionTitle {
  display: flex;
  justify-content: flex-end;
  width: 65%;

  & h1 {
    font-size: 2em;
    font-weight: 500;
    color: $lightPurple;
  }
}

// BEGIN WHO WE ARE STYLES

.whoWeAre {
  display: grid;
  grid-template-columns: 50% 50%;
  color: $lightPurple;

  & h2 {
    font-family: "Quiche Text W05 Light";
    font-size: $bigText;
    font-weight: 500;
    margin: 0;
  }
  & h3 {
    font-size: 2em;
    font-family: "Quiche Text W05 Regular";
    font-weight: 500;
    margin: 0;
  }
  & p {
    font-size: 1em;
    font-weight: 400;
    line-height: 28px;
    margin: 10px 0 0 0;
  }
  & b {
    font-size: 1em;
    font-weight: 500;
    font-family: "Sabon LT W05 Bold";
  }
}

.practice {
  display: grid;
  grid-template-columns: 60% auto;
  align-items: center;
  padding: 50px 0;
}

.states {
  display: flex;
  justify-content: space-around;
}

// END WHO WE ARE STYLES

// BEGIN CONTACT STYLES

.contact {
  display: grid;
  grid-template-columns: 60% auto;
  height: 80vh;
}

.formContainer {
  background-color: $lightPurple;
}

.mapContainer {
  background-color: $color-gray-100;
}

// END CONTACT STYLES

// BEGIN BLOG SLIDER STYLES

.postContainer {
  width: 100%;
  overflow: hidden;
}

.post {
  display: flex;
  list-style: none;

  & li {
    width: 1000px;
  }
}
