@import "styles/settings/__settings";

.container {
  background-color: $purple;
  padding-bottom: 200px;
}

.contentContainer {
  background-color: $purple;
  border-bottom: 2px solid $cream;
  padding: 200px 0 50px 0;
  display: grid;
  grid-template-columns: 70% auto;
  align-items: end;

  & a {
    width: 200px;
    justify-self: end;
  }

  & h2 {
    font-size: 1.85em;
    font-weight: 500;
    margin: 0;
    max-width: 1075px;
    color: $cream;
    line-height: 50px;
  }
}

@media screen and (max-width: 1070px) {
  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 550px) {
  .contentContainer h2 {
    font-size: 0.8em;
  }
}
