@import "styles/settings/__settings";

.title {
  margin: 70px 0 !important;
}
.subTitle {
  color: $cream;
  font-size: 1em;
  font-weight: 500;
  line-height: 34px;
  margin-top: 0;
  max-width: 950px;
}

.descContainer {
  padding: 60px 0;
  & h2 {
    font-size: 2em;
    font-weight: 500;
    line-height: 50px;
    margin: 0;
  }
}

// MEDIA QUERIES

@media screen and (max-width: 635px) {
  .subTitle {
    font-size: 0.9em;
  }

  .descContainer {
    & h2 {
      font-size: 1em;
      line-height: 25px;
    }
  }
}
