@import "styles/settings/__settings";

.contactContainer {
  background: $lightPurple;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .headerText {
    text-align: center;
    color: $cream;
  }
}

.cardContainer {
  display: flex;
}
