@import "styles/settings/__settings";

.nav {
  width: 100%;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.altNav {
  background: red !important;
}

.navSection {
  margin: 0;
  padding: 20px 0;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: 480px) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.navName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 0.8em 0 0;

  @media (min-width: 480px) {
    justify-content: flex-start;
    margin-top: 0;
  }

  a {
    color: $color-gray-500;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    max-width: max(18vw, 320px);
    transform: translateX(-0px);
    opacity: 1;
    transition: $anime;

    @media (min-width: 480px) {
      padding: 0;
    }

    svg {
      max-width: 100%;
      display: block;
    }

    &:hover {
      transform: translateX(-5px);
      opacity: 0.5;
    }
  }
}

.navMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $purple;
  padding: 150px 0;
  opacity: 0;
  transition: 1000ms ease-in-out;
  z-index: 999;

  li {
    position: relative;
    z-index: 1;
    margin: 0 0.25em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      & > a {
        color: $color-primary;
      }

      > .navSubMenu {
        display: block;
      }
    }

    & > .navSubMenu {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      padding: 0.5em 0.8em;
    }

    .navSubMenu {
      ul {
        top: 0;
        left: 100%;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: $color-gray-600;
    font-family: "Quiche Text W05 Regular";
    font-size: clamp(36px, 10vw, 140px);
    padding: 0.1em;

    @media (hover: hover) {
      &:hover {
        color: $color-primary;
      }
    }
  }

  .navSubMenu {
    display: none;
    position: absolute;
    white-space: nowrap;
    list-style: none;
    background-color: #fff;
    padding: 0;

    li {
      background-color: white;
      margin: 0;

      a {
        font-size: 1rem;
        padding: 0.3em;
      }
    }
  }
}

.menuWrapper {
  display: flex;
  align-items: center;
  color: $cream;
  cursor: pointer;
  z-index: 999;

  & p {
    padding-right: 16px;
    margin: 0;
    font-size: 24px;
  }

  &:hover {
    & .line1 {
      width: 60%;
      left: 40%;
    }

    & .line2 {
      width: 60%;
    }
  }
}

.menuIcon {
  width: 50px;
  height: 30px;
  position: relative;

  & .line {
    width: 100%;
    height: 3px;
    background-color: $cream;
    position: absolute;
    border-radius: 100px;
    transition: $anime;
    left: 0;
  }

  & .line1 {
    top: 10px;
    height: 5px;
  }

  & .line2 {
    bottom: 6px;
  }
}
